/* css phần container chung của profile */
.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 20px;
}

/* CARD */
.profile-card {
  background: #ffffff;
  width: 420px;
  padding: 25px 30px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.10);
  position: relative;
  animation: fadeIn 0.3s ease;
}

/* css phần icon profile */
.profile-icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

/* css phần nhập thông tin user */
.profile-info input {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.25s;
}


/* date text */
.registration-date {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

/* css phần form edit */
.button-group {
  margin-top: 18px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* css phần nút của form */
.button-group button {
  flex: 1;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: 0.25s ease;
}

/* css nút edit */
.edit-btn { 
  background: #4dabf7; 
  color: white; 
}
/* css khi di chuột vào nút edit */
.edit-btn:hover { 
  background: #339af0; 
}

/* css nút change password */
.password-btn { 
  background: #845ef7; 
  color: white; }
/* css khi di chuột vào nút change password  */
.password-btn:hover { 
  background: #7048e8; 
}

/* css nút logout */
.logout-btn { 
  background: #ff6b6b; 
  color: white; 
}
/* css khi di chuột vào nút logout  */
.logout-btn:hover { 
  background: #fa5252; 
}

/* css nút save */
.save-btn { 
  background: #51cf66; 
  color: white; 
}
/* css khi di chuột vào nút save */
.save-btn:hover { 
  background: #40c057; 
}
/* css nút cancel */
.cancel-btn { 
  background: #adb5bd; 
  color: white; 
}
/* css khi di chuột vào nút cancel  */
.cancel-btn:hover { 
  background: #868e96; 
}

/* css container chính chứa change password model */
.modal-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* css change password model */
.modal-content {
  background: white;
  width: 380px;
  padding: 25px 30px;
  border-radius: 15px;
}

/* tiêu đề */
.modal-content h3 {
  text-align: center;
  margin-bottom: 18px;
  color: #333;
}

/* css phần input của change password */
.change-password-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* css nút cancel */
.close-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #adb5bd;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.close-btn:hover {
  background: #868e96;
}
